@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
}
:root {
    font-size: 14px;
}
html,
body {
    position: relative;
    height: 100%;
}
nav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    min-height: 2rem;
    font-size: 1.3rem;
    color: whitesmoke;
    background-color: #3b28cc;
}
.nav-flex-item {
    align-items: center;
}
.nav-flex-item > * {
    margin: 0px 1rem;
}
#search-container {
    display: inline-block;
}
.wrapper {
    display: grid;
    padding: 3.5rem 0px 0px 0px;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}
aside {
    display: flex;
    flex-direction: column;
    background-color: #87bfff;
    padding: 10px 20px;
    font-size: 1.2rem;
}
aside > div {
    margin-bottom: 1rem;
    cursor: pointer;
}
aside > div span {
    position: relative;
    margin-right: 5px;
    top: 5px;
}
main {
    padding: 20px;
    background-color: #add7f6;
}
main h1 {
    color: #28231d;
}
#search-container {
    margin: 2rem 0rem;
}
#search-container input {
    padding: 0.1rem 0.5rem;
    height: 2rem;
    width: 20rem;
    border-radius: 0.25rem;
    color: #28231d;
}
#search-container span {
    position: relative;
    cursor: pointer;
    top: 0.45rem;
    left: -2rem;
    font-size: 1.5rem;
    color: #28231d;
}
input[type="text"]:focus {
    color: #28231d;
}
.todo-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.todo-grid-item {
    display: grid;
    padding: 10px 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #68a7ff;
    border-color: #d00000;
    align-items: center;
    text-align: left;
    grid-template-columns: auto 2fr 1fr auto;
}
.icons-nav {
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    top: 5px;
    color: whitesmoke;
}
.icons-sidebar {
    color: #d00000;
    font-size: 1.8rem;
}
.icons-todo {
    font-size: 1.5rem;
    color: #d00000;
}
.todo-grid-item input {
    margin: 0px 10px 0px 0px;
}
#todo-add {
    text-align: center;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: #d00000;
    padding: 0.5rem;
    width: 8rem;
}
.checkbox-container {
    position: relative;
}
input[type="checkbox"] {
    appearance: none;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.checkbox-container label::before {
    content: "";
    visibility: visible;
    background: url(../assests/check_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.create-todo-container {
    display: none;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    background-color: #3b28cc;
}
.create-todo-container form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem;
}
.input-field input {
    padding: 5px;
    color: #28231d;
    flex: 1 auto;
    height: 1.5rem;
}
.input-field input[type="submit"] {
    padding: 5px;
    height: 2rem;
    cursor: pointer;
}
select {
    color: #28231d;
}
